{{#if (test this._meta.schema (toRegex ".*/content/stylitics/generic")) ~}} {{> stylitics-generic-renderer }} {{~/if}}
{{#if (test this._meta.schema (toRegex ".*/content/stylitics/hotspots")) ~}} {{> stylitics-generic-renderer }} {{~/if}}
{{#if (test this._meta.schema (toRegex ".*/content/stylitics/moodboard")) ~}} {{> stylitics-generic-renderer }} {{~/if}}
{{#if (test this._meta.schema (toRegex ".*/content/stylitics/gallery")) ~}} {{> stylitics-generic-renderer }} {{~/if}}
{{#if (test this._meta.schema (toRegex ".*/content/stylitics/classic")) ~}} {{> stylitics-generic-renderer }} {{~/if}}
{{#if (test this._meta.schema (toRegex ".*/content/stylitics/main-and-detail")) ~}} {{> stylitics-generic-renderer }} {{~/if}}